body
{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    color: black;
}

nav
{
    background-color: #2a363b;
    font-family:'Teko' ,'Oswald', sans-serif;
    font-size: 2rem; 
    color: #fff;
}

@media (max-width: 750px)
{
    .desktop iframe
    {
        display: none;
    }
}

@media (min-width: 750px)
{
    .iframe-container
    {
        display: none;
    }
}